<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/concesionario_beneyto?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
    <property name="hibernate.connection.username">concesionario_beneyto</property>
    <property name="hibernate.connection.password">concesionario_beneyto</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="ejemplo03/persistencia/dao/impl/Empleado.hbm.xml"/>
    <mapping resource="ejemplo03/persistencia/dao/impl/Vehiculo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
